@model Product
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div class="row">
  
    <div class="col-sm-12 col-md-6">
        <h3>@Model.Name</h3>
        <img class="img-fluid" src="@Model.Image" alt="@Model.Name" />
        <p>@Model.Description</p>
        <h4>@(Model.Price.HasValue ? Model.Price.Value.ToString("C") : "No Price")</h4>

        <!-- <div>
            <b>Sizes Available:</b> @foreach (var size in Model.Sizes)
    {
             <p>@size</p>
    }
        </div>

        -->


    </div>

    
</div>

