@model IEnumerable<TheChesedProject.Models.Gemach>

@{
    ViewData["Title"] = "FullList";
}

<div class="container">
    <h2 class="mt-6 mb-4">Showing @Model.Count() Gemachs, @string.Join(",", Model.Select(x => x.City).Distinct())</h2>



    <div class="row">
        @foreach (var group in Model.GroupBy(x => x.Category))
        {

            <div class="container">
                <h4>@group.Key</h4>
            </div>
            @foreach (var gemach in group)
            {
                <a style="text-decoration: none;" class="cardcolor" asp-action="Details" asp-route-id="@gemach.ID" asp-controller="Gemach">
                    <div id="hoveroff" class="cardcolor card border-warning m-4" style="width: 18rem; height: 17rem;">
                        <div class="cardcolor card-header bg-warning"></div>
                        <div class="card-body">
                            <p class="card-text cardTitle">@gemach.Name</p>
                            <p class="card-text cardTitle">@gemach.Description</p>
                            @if ((gemach.OwnerFirstName != null) && (gemach.OwnerLastName != null))
                            {
                                <p class="card-text">Contact @gemach.OwnerFirstName @gemach.OwnerLastName</p>
                            }

                            <!-- <p class="card-text">@gemach.PhoneNumber</p>-->
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>


