@model IEnumerable<TheChesedProject.Models.Gemach>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h2 class="mt-6 mb-4">Showing @Model.Count() Gemachs in @string.Join(",", Model.Select(x => x.City).Distinct())</h2>

    

    <div class="row">
        @foreach (var group in Model.GroupBy(x => x.Category))
        {

            <div class="container">
                <h4>@group.Key</h4>
            </div>
            @foreach (var gemach in group)
            {
                <div class="card border-warning m-4" style="max-width: 18rem;">
                    <div class="card-header bg-warning"></div>
                    <div class="card-body" style="color: #01D0E1;">
                        <h6 class="card-title">@gemach.Name</h6>
                        <h6 class="card-title">@gemach.Description</h6>
                        <p class="card-text">Contact @gemach.OwnerFirstName @gemach.OwnerLastName</p>
                        <p class="card-text">@gemach.PhoneNumber</p>
                    </div>
                </div>
            }
        }
    </div>
</div>
  